<div class="container">
    <br>
    <br>

    <div style=" margin: 0 auto;" id="loader" class="loader"></div>
    <div class="row">
    <div *ngFor="let c of listCoupons" class="col-xs-4">
        <br>
        <div class="card">
            <img class="card-img-top" src="{{c.image}}" alt="Card image" style="width:100%">
            <div class="card-img-overlay">

                <img src="/assets/images/promo.svg" width="80" height="80">
                <div class="descuento">
                    <font size="5" color="white">{{c.discountRate}}%</font>
                    de descuento
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="promo">

                    <font size="2"><font size="2">antes: </font><del>${{c.lastPrice}}</del></font>
                    <br>
                    <font size="4"><font size="2">ahora: </font>${{c.newPrice}}</font>
                </div>

            </div>
            <div class="card-body">
                <h4 class="card-title">{{c.name}}</h4>
                <p class="card-text">{{c.description}}</p>
                <a (click)="saveCouponName(c.name)" class="btn btn-primary"><font color="white">Ver</font></a>
                <br>
                <font size="0">{{c.smallLetters}}</font>

            </div>
        </div>


    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">

            <div class="card" style="width:1050px">
                <div class="row ">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="{{currentUser.logo}}" alt="Card image" width="300" height="300">


                    </div>
                    <div class="col-sm-8">
                        <div class="card-block px-3">
                            <h4 class="card-title"><font size="9">{{currentUser.companyName}}</font></h4>
                            <p class="card-text"><font size="3">{{currentUser.descripcion}}</font></p>
                            <p class="card-text"><img class="image" src="/assets/images/cel.svg" width="25" height="25"><font size="3" color="grey"> Contacto: </font><font size="4">{{currentUser.cel1}} - {{currentUser.cel2}}</font></p>
                            <p class="card-text"><img class="image" src="/assets/images/location.svg" width="25" height="25"><font size="3" color="grey"> Dirección: </font><font size="4">{{currentUser.companyAddres}} - {{currentUser.town.name}}</font></p>
                            <p class="card-text"><img class="image" src="/assets/images/email.svg" width="25" height="25"><font size="3" color="grey"> Correo: </font><font size="4">{{currentUser.email}}</font></p>
                            <p class="card-text"><img class="image" src="/assets/images/calendar.svg" width="25" height="25"><font size="3" color="grey"> Horario: </font><font size="4">{{currentUser.schedule}}</font></p>
                            <p *ngIf="currentUser.tieneDomicilios" class="card-text">
                                <img class="image" src="/assets/images/domicilio.png" width="35" height="35">
                                <font size="3"> Si realiza Domicilios </font>
                                <img class="image" src="/assets/images/check.png" width="20" height="20">
                            </p>
                            <p *ngIf="currentUser.tieneDatafono" class="card-text">
                                <img class="image" src="/assets/images/dataphone.svg" width="35" height="35">
                                <font size="3"> Si tiene Datafono </font>
                                <img class="image" src="/assets/images/check.png" width="20" height="20">
                            </p>
                            <p *ngIf="!currentUser.tieneDomicilios" class="card-text">
                                <font size="3" color="red"> No realiza Domicilios </font>
                                <img class="image" src="/assets/images/error.svg" width="20" height="20">
                            </p>
                            <p *ngIf="!currentUser.tieneDatafono" class="card-text">
                                <font size="3" color="red"> No tiene Datafono </font>
                                <img class="image" src="/assets/images/error.svg" width="20" height="20">
                            </p>


                            <a target="_blank" href="https://api.whatsapp.com/send?phone=57{{currentUser.cel1}}" class="fa fa-whatsapp"></a>
                            <a target="_blank" href="{{currentUser.linkFacebook}}" class="fa fa-facebook"></a>
                            <a target="_blank" href="{{currentUser.linkInstagram}}" class="fa fa-instagram"></a>
                            <a target="_blank" href="{{currentUser.linkTA}}" class="fa fa-tripadvisor"></a>
                            <a target="_blank" href="{{currentUser.linkGoogleMaps}}" class="fa fa-map-marker"></a>

                        </div>



                    </div>


                </div>


            </div>

        </div>

    </div>










</div>