<br>
<br>

<div class="row">

    <form [formGroup]="searchForm" (ngSubmit)="searchSite()" class="form-inline">

        &nbsp;
        <div class="input-group">
            <input type="text" class="form-control" formControlName="inputSearch" placeholder="Buscar" >
            <button type="submit" class="btn-success" [disabled]="!searchForm.valid">Buscar</button>
        </div>
    </form>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="dropdown">

            <span class="styleA"><img class="image" src="/assets/images/location.svg" width="19" height="19">
                {{textTowns}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="image" src="/assets/images/down.svg" width="19" height="19"></span>
        <div class="dropdown-content">
            <div style=" margin: 0 auto;" id="loader3" class="loader"></div>
            <a class="nav-link" (click)="searchTown(town.name)"  *ngFor="let town of townList">{{town.name}}</a>
        </div>

    </div>
</div>
<hr>


<div class="card" style="width: 100%">

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Busqueda</li>
        <li class="list-group-item">
            <div class="card-body">
                <div class="row" >

                    <div style=" margin: 0 auto;" id="loader" class="loader"></div>
                    <div *ngFor="let ul of userslist" class="col-xs-4">

                        <div class="card internos" style="width: 260px">
                            <div class="card-body">
                                <img src="{{ul.logo}}" width="120" height="120">
                                <a (click)="saveSite(ul.companyName, ul.username)" routerLinkActive="/siteProfile" routerLink="/siteProfile"  class="btn btn1">
                                    Ver</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>


</div>
<font size="3" color="red">{{errorText}}</font>

