<div class="container">
    <br>
    <br>
    <div class="row">


        <form [formGroup]="searchForm" (ngSubmit)="searchSite()" class="form-inline">

            &nbsp;
            <div class="input-group">
                <input type="text" class="form-control" formControlName="inputSearch" placeholder="Buscar" >
                <button type="submit" class="btn-success" [disabled]="!searchForm.valid">Buscar</button>
            </div>
        </form>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="dropdown">

            <span class="styleA"><img class="image" src="/assets/images/location.svg" width="19" height="19">
                {{textTowns}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="image" src="/assets/images/down.svg" width="19" height="19"></span>
            <div class="dropdown-content">
                <div style=" margin: 0 auto;" id="loader3" class="loader"></div>
                <a class="nav-link" (click)="searchTown(town.name)"  *ngFor="let town of townList">{{town.name}}</a>
            </div>

        </div>


<hr>
    </div>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div>


        <h2>En <img class="image" src="/assets/brand/logo.png" width="195" height="70"> podras encontrar los mejores lugares para realizar planes con tu familia y amigos ...</h2>

    </div>
    <font size="4" color="grey">Categorías:</font>
    <div style=" margin: 0 auto;" id="loader" class="loader"></div>
    <div class="row">

        <div *ngFor="let cl of categoryList" class="col-xs-6 col-xs-3">
            <br>
            <a (click)="saveCategory(cl.name)" routerLinkActive="/sites" routerLink="/sites"  class="btn btn1" role="button" aria-pressed="true">
                <div class="card text-center">
                    <img class="category" src="{{cl.image}}" width="248px" height="148px">
                    <div class="card-img-overlay">
                        <br>
                        <br>
                        <B>{{cl.name}}</B>
                    </div>
                </div>
                </a>
            <br>
        </div>
    </div>
    <br>
    <br>
    <div class="card" style="width: 100%">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><font size="5">Nuestros Aliados</font></li>
            <li class="list-group-item">
                <div class="card-body">
                    <div class="row" >

                        <div style=" margin: 0 auto;" id="loader2" class="loader"></div>
                        <div *ngFor="let ul of userslist" class="col-xs-4">
                            <img class="center" src="{{ul.logo}}" width="80" height="80">
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                        </div>

                    </div>
                </div>
            </li>
        </ul>


    </div>
    <hr>
    <a routerLinkActive="/contact" routerLink="/contact" >¿Eres empresa?</a><br>
    <div *ngIf="!isLoggedIn()">
        <a routerLinkActive="/signin" routerLink="/signin" >Ingresa</a><br>
        <a  routerLinkActive="/signup" routerLink="/signup" >Registrate</a><br>
    </div>
    <div *ngIf="isLoggedIn()" >
        <a routerLinkActive="/categorys" routerLink="/categorys" (click)="signOut()">Salir</a>
    </div>
    <hr>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

